*{
    margin:0; 
    padding:0;
    }
body{
    color: black;
    background-image: url(img/bg.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    font-family: sans-serif; 
    background-attachment: fixed;
}
p {
   
    margin: 0px;
}
.page-main{
    height: 100%;
    width: 100%;
}
.page-main .content-login{
    width: 100%;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}
.login{
    background-color: rgba(166, 224, 221, 0.548);
   border-radius: 5px;
   padding: 5px;
   width: 500px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-box-shadow: 10px 10px 5px 5px rgba(94, 93, 93, 0.75);
   -moz-box-shadow: 10px 10px 5px 5px rgba(94, 93, 93, 0.75);
   box-shadow: 10px 10px 5px 5px rgba(94, 93, 93, 0.75);
    display: flex;
    flex-flow: column wrap;
    height: 600px;
    width: 350px;
    margin: 0 auto;
    align-items: center;
}
.login .form-item {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
 }
 .login .img-pokemon {
    height: 255px;
    width: 318px;
    align-self: center;
 }
 .login label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    border-radius: 2px;
 }
 .login button{
    width: 335px;
    height: 50px;
    background: #3897F0;
    border-radius: 5px;
    line-height: 25px;
    font-family: Open Sans;
    font-weight: 800;
    font-size: 15px;
    color: #FFFFFF;
 }
input{
    width: 335px;
    height: 45px;
}
img{   
        height: 155px;
    width: 179px;
    
}
.noidentificado{
    align-self: flex-end; 
}
.login a{
    font-size: 15px;
    width: 100%;
    text-align: end;
    margin: 15px 0px;
    font-weight: bold;
 }
 .login p{
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
 }

.pokemon {
    text-align: center;
}
  .errorDeContrase単a{
    font-family: Open;
    font-size: 15px;
    color: red;
}
.imagenpoke{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    border: 1px dotted;
}



.hide{
    display: none;

}
.cabeza{
    background-color: rgba(102, 27, 255, 0.58);
    
}



    @media screen and (min-width: 750px){
        .body{
            background-size:100% 100%;
            background-attachment: fixed;
            overflow: hidden;
            justify-content: center;
        }
     }

     @media screen and (min-width: 767px){

        .dise単o{
            margin: 20px;
            
            display: flex;
            justify-content: flex-end;
         }
         .dise単o select:hover {
            cursor: pointer;
             background: rgb(45, 236, 125)
        
         }
          .dise単o select {
           
            text-decoration: none;
            padding: 15px 15px;
            font-weight: 600;
            font-size: 21px;
            color: #464444;
            background-color:rgb(156, 245, 236);
            border-radius: 6px;
            border: 2px solid #0519af;
            display: flex;
        justify-content: flex-start;
        background:rgba(0,0,0,0.03)
          }
          .botonInicio {
            text-decoration: none;
            padding: 15px 15px;
            font-weight: 600;
            font-size: 20px;
            color: #ffffff;
            background-color:rgb(20, 224, 207);
            border-radius: 6px;
            border: 2px solid #0016b0;
            display: flex;
        justify-content: flex-start;
               
         }
        
         .contentpoke {
            height: 300px;
            width: 210px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.16);
            color: #2B4D86;
            font-size: 21px;
            display: inline-block;
            margin: 10px;
            padding: 0px;
        }
           .imagenespoke{
            height: 165px;
            width: 185px;
           
         }
         .name {
            color: #2B4D86;
            font-size: 21px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
        
         }
         .id{
            color: #2B4D86;
            font-size: 21px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
           
          
         }
         .numero {
            color: #2B4D86;
            font-size: 21px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            
        }
        
        .logo{
                color:rgb(226,226,226);
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: bold;
                font-size: 14px;
                
            }
            
        #imagenLogo {
            max-width: 150%;
            max-height: 60px;
            float: left;
            padding: 5px 2px 5px 2px;
        }
        
        
        .menu{
            
            transform: translateX(0%);
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 120px;
            flex-wrap: wrap;
            padding: 20px;
            width: 100%;
        }
         
     }